﻿@using Lottery.Models.Models.DataStorageModels.LotteryQuiz
@model Lottery.Models.Models.LotteryViewModels.PaginatedList<Lottery.Models.Models.DataStorageModels.LotteryQuiz.Question>
    
<h3 class="label-info">@ViewBag.StatusMessage</h3>
<p>
    <a asp-action="CreateQuestion"  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Create New</a>
</p>
<div>
    <form asp-action="AllQuestion" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <label class="label label-info"></label>
        <input id="size" name="size" type="number" value="@Model.PageSize"/>
        <input id="page" name="page"  value="1" type="hidden"/>
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Text
            </th>
            <th>
                Type
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GetPaginatedList()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a class="btn btn-info" asp-action="UpdateQuestion" asp-route-questionId="@item.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Update question</a>
            </td>
            <td>
                <a class="btn btn-info" asp-action="DeleteQuestion" asp-route-questionId="@item.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Delete Question</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="item">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="AllQuestion"
       asp-route-page="@(Model.PageNumber - 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="AllQuestion"
       asp-route-page="@(Model.PageNumber + 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>
