﻿@using Lottery.Models.Models.DataStorageModels.LotteryQuiz
@using Lottery.Models.Models.DataStorageModels.Types
@model Lottery.Models.Models.QuestionViewModel.QuestionCreateViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="">
        <form asp-controller="Question" asp-action="CreateQuestion"  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div class="item form-group">
                <label asp-for="AmountOfAnswers">AmountOfAnswers</label>
                <input id="AmountOfAnswers" name="AmountOfAnswers" type="number" value="@Model.AmountOfAnswers"/>
            </div>
            <button type="submit">Update Model</button>
        </form>
      
    </div>
    <div class="">
        <form asp-controller="Question" asp-action="CreateQuestion" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
            <div class="form-control">
                <label asp-for="Question"></label>
                <input asp-for="Question" />
                <span asp-validation-for="Question"></span>
            </div>
            <div class="item form-group">
                <input asp-for="AmountOfAnswers" type="hidden" value="@Model.AmountOfAnswers"/>
            </div>
            <div class="form-control">
                <label asp-for="QuestionType"></label>
                <select asp-for="QuestionType" asp-items=@(Html.GetEnumSelectList<QuestionType>())></select>
                <span asp-validation-for="Question"></span>
            </div>
            <div>
                 <label class="label label-info">Answers</label>
                <ul class="list-group">
                    @for (int i = 0; i < Model.AmountOfAnswers; i++)
                    {
                        <li class="list-group-item"><input asp-for="Answers"/></li>
                    }
                </ul>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>