﻿@using Lottery.Models.Models.DataStorageModels.LotteryQuiz
@model Lottery.Models.Models.QuestionViewModel.QuestionCreateViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="">
        <form asp-controller="Question" asp-action="UpdateQuestion" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                <input id="questionId" name="questionId" value="@Model.Id" type="hidden"/>
                <label asp-for="AmountOfAnswers">AmountOfAnswers</label>
                <input id="AmountOfAnswers" name="AmountOfAnswers" type="number" value="@Model.AmountOfAnswers"/>
            <button type="submit">Update Model</button>
        </form>

    </div>
    <div class="">
        <form asp-controller="Question" asp-action="UpdateQuestion" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
            <input asp-for="Id" type="hidden"/>
            <div class="form-control">
                <label asp-for="Question"></label>
                <input asp-for="Question"/>
                <span asp-validation-for="Question"></span>
            </div>
            <div class="item form-group">
                <input asp-for="AmountOfAnswers" type="hidden" value="@Model.AmountOfAnswers"/>
            </div>
            <div class="form-control">
                <label asp-for="QuestionType"></label>
                <select asp-for="QuestionType" asp-items=@(Html.GetEnumSelectList<QuestionType>())></select>
                <span asp-validation-for="Question"></span>
            </div>
            <div>
                <label class="label label-info">Answers</label>
                <ul class="list-group">
                    @for (int i = 0; i < Model.AmountOfAnswers; i++)
                    {
                        if (Model.Answers.Count() == Model.AmountOfAnswers)
                        {
                            <li class="list-group-item"><input asp-for="Answers" value="@Model.Answers.ElementAt(i)"/></li>
                        }
                        else
                        {
                            <li class="list-group-item"><input asp-for="Answers" value=""/></li>
                        }
                    }
                </ul>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>