﻿@model Lottery.Models.Models.LotteryViewModels.AddParticipantsToCloseLotterycs
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <form asp-action="AddParticapntsToCloseLottery" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <label class="label label-info"></label>
        <input id="size" name="size" type="number" value="@Model.UnregistredUsers.PageSize" />
        <input id="page" name="page" value="1" type="hidden" />
        <input asp-for="LotteryId" type="hidden" />
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>
<div class="list-group-item">
    <table class="table">
        <thead>
        <tr>
            <th>User email</th>
            <th>User Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.UnregistredUsers.GetPaginatedList())
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <a class="btn btn-default" asp-controller="LotteryManage" asp-route-email="@user.Email" asp-route-lotteryId="@Model.LotteryId" asp-route-size="@Model.UnregistredUsers.PageSize" asp-route-page="@Model.UnregistredUsers.PageNumber" asp-action="AddParticapntsToCloseLottery" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Add</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-link center-block" asp-controller="LotteryManage" asp-action="LotteryManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>
</div>

<div class="item">
@{
    var prevDisabled = !Model.UnregistredUsers.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.UnregistredUsers.HasNextPage ? "disabled" : "";
}
    
    <a asp-action="AddParticapntsToCloseLottery"
       asp-route-lotteryId="@Model.LotteryId"
       asp-route-page="@(Model.UnregistredUsers.PageNumber - 1)"
       asp-route-size="@Model.UnregistredUsers.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="AddParticapntsToCloseLottery"
       asp-route-lotteryId="@Model.LotteryId"
       asp-route-page="@(Model.UnregistredUsers.PageNumber + 1)"
       asp-route-size="@Model.UnregistredUsers.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>