﻿@using Lottery.Models.Models.DataStorageModels.Types
@model Lottery.Models.Models.LotteryViewModels.LotteryCreatingViewModel
<h2>LotteryCreation</h2>
<h4 class="text-danger">@Model.StatusMessage</h4>
<form asp-antiforgery="true" asp-controller="LotteryManage" asp-action="CreateLottery" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container-fluid">
        <div class="form-group">
            <div class="input-group-addon">
                <label asp-for="LotteryType" class="input-group"></label>
                <select asp-for="LotteryType" asp-items="@(Html.GetEnumSelectList<LotteryType>())"></select>
            </div>
            <span asp-validation-for="LotteryType"></span>
        </div>
        <div class="form-group">
            <label asp-for="AmountOfWinners"></label>
            <input asp-for="AmountOfWinners" class="form-control"/>
            <span asp-validation-for="AmountOfWinners"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegistrationEndDate"></label>
            <input asp-for="RegistrationEndDate" class="form-control"/>
            <span asp-validation-for="RegistrationEndDate"></span>
        </div>
        <div class="form-group">
            <label asp-for="LotteryDate"></label>
            <input asp-for="LotteryDate" class="form-control"/>
            <span asp-validation-for="LotteryDate"></span>
        </div>
        <div class="form-group">
            <div class="input-group-addon">
                <label asp-for="OutputType"></label>
                <select asp-for="OutputType" asp-items="@(Html.GetEnumSelectList<OutputType>())"></select>
            </div>
            <span asp-validation-for="OutputType"></span>
        </div>
        <div class="form-group">
            <div class="input-group-addon">
                <label asp-for="Delay"></label>
                <input asp-for="Delay"/>
            </div>
            <span asp-validation-for="Delay"></span>
        </div>
        <div class="form-group">
            <div class="input-group-addon">
                <label asp-for="LotteryKind"></label>
                <select asp-for="LotteryKind" asp-items="@(Html.GetEnumSelectList<LotteryKind>())"></select>
            </div>
            <span asp-validation-for="LotteryKind"></span>
        </div>
    </div>
    <button type="submit">Next</button>
</form>
<a class="btn btn-link center-block" asp-controller="LotteryManage" asp-action="LotteryManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>
