﻿@using Lottery.Models.Models.DataStorageModels.Picture
@using Lottery.Models.Models.DataStorageModels.Roles
@using Lottery.Models.Models.DataStorageModels.Types
@model Lottery.Models.Models.LotteryViewModels.LotteryFilters
<div>
    <div>
        <h3 class="text-warning">@ViewBag.StatusMessage</h3>
    </div>
    <div>
        <div class="row">
            <div class="col-md-8" style="padding-top:10px;">
                <a asp-controller="ExcelData" asp-action="ExportLotteries"  data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Export</a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="item">
            <form asp-controller="LotteryManage" asp-action="LotteryManage" method="get"
                  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                <div class="form-control">
                    <label asp-for="LeftDate">After date</label>
                    <input asp-for="LeftDate" value="@Model.LeftDate.ToString("yyyy-MM-ddThh:mm")" type="datetime-local" />
                    <label asp-for="RightDate">Before Date</label>
                    <input asp-for="RightDate"  value="@Model.RightDate.ToString("yyyy-MM-ddThh:mm")" type="datetime-local" />
                </div>
                <div class="form-control">
                    <label asp-for="AmountOfWinnersMin">Min Amount of Winners</label>
                    <input type="number" asp-for="AmountOfWinnersMin" value="@Model.AmountOfWinnersMin" />
                    <label asp-for="AmountOfWinnersMax">Max amount of winners</label>
                    <input type="number" asp-for="AmountOfWinnersMax" value="@Model.AmountOfWinnersMax" />
                </div>
                <div>
                    <input asp-for="Page" value="@Model.Page" type="hidden" />
                </div>
                <div class="form-control">
                    <label asp-for="PageSize" class="label label-info"></label>
                    <input asp-for="PageSize" />
                </div>
                <button type="submit">filter</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Lottery</th>
            <th>Lottery Date</th>
            <th>amount of winners</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        </thead>
        <tbody>

        @foreach (var lottery in Model.PaginatedList.GetPaginatedList())
        {
            <tr>
                <td>@lottery.Description</td>
                <td>@lottery.LotteryDate</td>
                <td>@lottery.AmountOfWinners</td>
                @if (lottery.LotteryDate > (DateTime.Now).Subtract(TimeSpan.FromMinutes(1)))
                {
                    <td>
                        <a class="btn btn-info" asp-controller="LotteryManage" asp-action="SetLotteryPrizies" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Set Prizies</a>
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="LotteryManage" asp-action="SetLotteryImage" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Set Picture</a>
                    </td>

                    <td>
                        @if (lottery.LotteryKind.Equals(LotteryKind.Quiz) && lottery.LotteryDate > DateTime.Now)
                        {
                            <a class="btn btn-info" asp-controller="Quiz" asp-action="AddQuizToLottery" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Add quiz</a>
                        }
                    </td>
                    <td>
                        @if (lottery.LotteryType.Equals(LotteryType.Close))
                        {
                            <a class="btn btn-info" asp-action="AddParticapntsToCloseLottery" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Add Participants</a>
                        }
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="RemoveParticipant" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Remove Participants</a>
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="UpdateLottery" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Update Lottery</a>
                    </td>
                }
                <td>
                    @if (lottery.LotteryDate < (DateTime.Now))
                    {
                        <a class="btn btn-warning" asp-controller="Lottery" asp-action="LotteryResult" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Lottery Results</a>
                    }
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteLottery" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Delete lottery</a>
                </td>

            </tr>

        }
        </tbody>
    </table>
    <div class="item">
        @{
            var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
        }

        <form asp-action="LotteryManage" class="btn btn-default @prevDisabled" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div>
                <input asp-for="LeftDate" type="hidden" />
                <input asp-for="RightDate" type="hidden" />
            </div>
            <div>
                <input type="hidden" asp-for="AmountOfWinnersMin" value="@Model.AmountOfWinnersMin" />
                <input type="hidden" asp-for="AmountOfWinnersMax" value="@Model.AmountOfWinnersMax" />
            </div>
            <div>
                <input asp-for="Page" value="@(Model.Page-1)" type="hidden" />
            </div>
            <div>
                <input asp-for="PageSize" type="hidden" />
            </div>
            <button type="submit">Previous</button>
        </form>

        <form asp-action="LotteryManage" class="btn btn-default @nextDisabled" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div>
                <input asp-for="LeftDate" type="hidden" />
                <input asp-for="RightDate" va type="hidden" />
            </div>
            <div>
                <input type="hidden" asp-for="AmountOfWinnersMin" value="@Model.AmountOfWinnersMin" />
                <input type="hidden" asp-for="AmountOfWinnersMax" value="@Model.AmountOfWinnersMax" />
            </div>
            <div>
                <input asp-for="Page" value="@(Model.Page+1)" type="hidden" />
            </div>
            <div>
                <input asp-for="PageSize" type="hidden" />
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
    <div class="item">

        <ul class="list-group-item">
            <li class="list-group-item"><a asp-controller="LotteryManage" asp-action="CreateLottery" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Create Lottery</a></li>
        </ul>
    </div>
</div>
