﻿@model Lottery.Models.Models.LotteryViewModels.RemoveParticipantsViewModel
<div>
  <form  asp-action="RemoveParticipant" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
    <label class="label label-info"></label>
    <input id="size" name="size" type="number" value="@Model.Participants.PageSize" />
      <input id="page" name="page" value="1" type="hidden" />
      <input asp-for="LotteryId" type="hidden"/>
    <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>

<div class="item">
    <table class="table">
        <thead>
        <tr>
            <th>User email</th>
            <th>UserName</th>
            <td>Remove reason</td>
        </tr>
        </thead>
        <tbody>
            @foreach (var participant in Model.Participants.GetPaginatedList())
            {
                <tr>
                    <td>@participant.Email</td>
                    <td>@participant.UserName</td>
                    <td>
                        <form asp-controller="LotteryManage" asp-action="RemoveParticipant" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
                            <input asp-for="RemoveReason" type="text"/>
                            <div class="form-group">
                                <input asp-for="@Model.LotteryId" type="hidden"/>
                                <span asp-validation-for="@Model.LotteryId" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="PageSize"  type="hidden"/>
                                <input asp-for="PageNumer" type="hidden"/>
                            </div>
                            <div class="form-group">
                                <input asp-for="@Model.Email" class="form-control" value="@participant.Email" type="hidden"/>
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Remove</button>
                        </form>
                    </td>
                </tr>
            }
            @foreach (var excludedparticipant in Model.ExcludedParticapnts)
            {
                <tr>
                    <td>@excludedparticipant.User.Email</td>
                    <td>@excludedparticipant.User.UserName</td>
                    <td>
                        <label class="label-danger">@excludedparticipant.RemoveReason</label>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="LotteryManage" asp-action="RemoveUserFromExcluded" asp-route-lotteryId="@Model.LotteryId" asp-route-email="@excludedparticipant.User.Email" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Reestablish</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-link center-block" asp-controller="LotteryManage" asp-action="LotteryManage"  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>
</div>
<div>
</div>
<div class="item">
    @{
        var prevDisabled = !Model.Participants.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Participants.HasNextPage ? "disabled" : "";
    }
    
    <a asp-action="RemoveParticipant"
       asp-route-lotteryId="@Model.LotteryId"
       asp-route-page="@(Model.Participants.PageNumber - 1)"
       asp-route-size="@Model.Participants.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="RemoveParticipant"
       asp-route-lotteryId="@Model.LotteryId"
       asp-route-page="@(Model.Participants.PageNumber + 1)"
       asp-route-size="@Model.Participants.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>
