﻿@model Lottery.Models.Models.LotteryViewModels.SetLotteryImageViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="form-group">
        <input asp-for="@Model.LotteryId" class="form-control" />
        <span asp-validation-for="@Model.LotteryId" class="text-danger"></span>
    </div>

    <div class="item">
        <label> Current Image</label>
        <img src="@Model.Picture?.Pass" alt="pic" class="list-group-item-info" />
    </div>
    <div class="row list-group">
        @foreach (var pic in Model.AllPictures)
        {
            <div class="item  col-sm-9 col-lg-5">
                <div class="thumbnail">
                    <a asp-controller="LotteryManage" asp-action="SetLotteryImage" asp-route-lotteryId="@Model.LotteryId" asp-route-PictureId="@pic.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
                        <img src="@pic.Pass" class="group list-group-image" alt="Pic" width="300" height="300" />
                    </a>
                </div>
            </div>

        }
    </div>
    <a class="btn btn-link center-block" asp-controller="LotteryManage" asp-action="LotteryManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>
</div>
