﻿@using Lottery.Models.Models.LotteryViewModels;
@model SetPrizesViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div>
        <h3 class="text-danger">@Model.StatusMessage</h3>
        <form asp-controller="LotteryManage" asp-action="SetLotteryPrizies" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <label asp-for="AmountOfPrizeGroups" class="label label-default"></label>
            <input id="amountOfPrizeGroups" name="amountOfPrizeGroups" value="@Model.AmountOfPrizeGroups" type="number"/>
            <input asp-for="@Model.LotteryId" class="form-control" type="hidden"/>
            <button type="submit" class="btn btn-default">Update</button>
        </form>
    </div>
    <div>
        <label asp-for="AmountOfWinners">Amount of winners: @Model.AmountOfWinners</label>
    </div>
<div class="row">
    <form asp-controller="LotteryManage" asp-action="SetLotteryPrizies" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <input asp-for="@Model.LotteryId" class="form-control" type="hidden"/>
            <span asp-validation-for="@Model.LotteryId" class="text-danger"></span>
        </div>
        <div>
            <ul>
                @for (var i = 0; i < Model.AmountOfPrizeGroups; i++)
                {
                    <li>
                        <label asp-for="LeftGroupBorder" class="label label-default">Left Border</label>
                        <input id="LeftGroupBorder" name="LeftGroupBorder" value="@(Model.LeftGroupBorder.Any() ? Model.LeftGroupBorder.ElementAt(i):i+1)"/>
                        <label asp-for="RightGtoupBorder" class="label label-default">Right Border</label>
                        <input id="RightGtoupBorder" name="RightGtoupBorder"  value="@(Model.RightGtoupBorder.Any()? Model.RightGtoupBorder.ElementAt(i):i+1)" />
                        <label class="label label-default">Current Priize is: @if (Model.CurrentGroupPrizeList.Any())
                                                                              {
                                                                                  @Model.CurrentGroupPrizeList.ElementAt(i).Description
                                                                              }</label>
                    </li>
                }
            </ul>
        </div>
        <div >
            <ul class="list-group">
                @for (var i = 0; i < Model.AmountOfPrizeGroups; i++)
                {
                    <li class="list-group-item">
                        <select id="GroupPrizies" name="GroupPrizies" class="input-group">
                            @foreach (var val in Model.AllPrizies)
                            {
                                if (@Model.CurrentGroupPrizeList.Any() && val.Id.Equals(@Model.CurrentGroupPrizeList.ElementAt(i).Id))
                                {
                                    <option selected value="@val.Id">@val.Description</option>
                                }
                                else
                                {
                                    <option value="@val.Id">@val.Description</option>
                                }
                            }
                        </select>
                    </li>

                }
            </ul>
        </div>
        <div>
            <input asp-for="AmountOfPrizeGroups" type="hidden"/>
            <input asp-for="AmountOfWinners" type="hidden"/>
        </div>
        <button type="submit" class="btn btn-default">save</button>
    </form>
    <div>
        <a class="btn btn-link center-block" asp-controller="LotteryManage" asp-action="LotteryManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>
    </div>
</div>
</div>