﻿@model Lottery.Models.Models.LotteryViewModels.PaginatedList<UserInfoViewModel>

<h2>AdminManageView</h2>
<div class="item">
    <form asp-controller="Manage" asp-action="AdminManage"  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <div class="form-control">
            <label form="size" class="label label-info">Page Size</label>
            <input id="size" name="size" type="number" value="@Model.PageSize"/>
        </div>
        <button type="submit"> Update</button>
    </form>
</div>
<table class="table">
    <thead>
    <tr>
        <th>UserName</th>
        <th>email</th>
        <th>IsBlocked</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.GetPaginatedList())
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            @if (user.LockoutEnd<DateTime.Now)
            {
                <td class="bg-success text-primary">not blocked</td>
            }
            else
            {
                <td class="bg-danger text-primary">@user.LockoutEnd</td>
            }
            <td>
                <a class="btn btn-default" asp-controller="Manage" asp-action="EditUser" asp-route-email="@user.Email"  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="item">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="AdminManage"
       asp-route-page="@(Model.PageNumber - 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="AdminManage"
       asp-route-page="@(Model.PageNumber + 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>