﻿@model Lottery.Models.Models.LotteryViewModels.BlockUserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    
    @if (Model.LockoutEnd <= DateTime.Now)
    {
    <label class="bg-success text-primary">not blocked</label>
    <form asp-controller="Manage" asp-action="BlockUser"  data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
        <div class="form-group">
            <input id="UserEmail" name="UserEmail" class="form-control" value="@Model.UserEmail" type="hidden"/>
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label id="BlockReason" name="BlockReason">Lock Reason </label>
            <input type="text" id="BlockReason" name="BlockReason" class="bg-warning text-primary"/>
            <span asp-validation-for="BlockReason" class="text-danger"></span>
        </div>
        <button class="btn btn-warning">Block User</button>
    </form>
    }
    else
    {
    <div class="form-group">
        <label asp-for="LockoutEnd">Locked to : </label>
        <input asp-for="LockoutEnd" class="bg-danger text-primary" disabled/>
        <span asp-validation-for="LockoutEnd" class="text-danger"></span>
    </div>
    <label asp-for="BlockReason">Lock Reason </label>
    <input type="text" asp-for="@Model.BlockReason" class="bg-warning text-primary" disabled/>
    <span asp-validation-for="BlockReason" class="text-danger"></span>
    <div class="form-group">
        <a class="btn btn-warning" asp-controller="Manage" asp-action="Unlock" asp-route-userEmail="@Model.UserEmail" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Unlock</a>
    </div>
    }

</div>