﻿@model EmailAuthenticator
<div>
    <form asp-action="EnableEmailAuthenticator" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-control">
            <label asp-for="Code">Code</label>
            <input asp-for="Code" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>