@using Lottery.Models.Models.LotteryViewModels
@model Lottery.Models.Models.ManageViewModels.TwoFactorAuthenticationViewModel
@{
    ViewData.AddActivePage(UserInfoNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<h2 class="success">@ViewBag.StatusMessage</h2>

@Html.Partial("UserInfoNav",ViewData)
@if (Model.Is2faEnabled || Model.TwoFactorEmailEnabled)
{
    if (Model.Is2faEnabled)
    {
        if (Model.RecoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>You have no recovery codes left.</strong>
                <p>You must <a asp-action="GenerateRecoveryCodesWarning" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>You have 1 recovery code left.</strong>
                <p>You can <a asp-controller="Manage" asp-action="GenerateRecoveryCodesWarning" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">generate a new set of recovery codes</a>.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                <p>You should <a asp-action="GenerateRecoveryCodes" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">generate a new set of recovery codes</a>.</p>
            </div>
        }
    }

    <a asp-action="Disable2faWarning" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-default">Disable 2FA</a>
    <a asp-action="GenerateRecoveryCodesWarning" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-default">Reset recovery codes</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator && !Model.TwoFactorEmailEnabled)
{
    <a asp-action="EnableAuthenticator" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-default">Add authenticator app</a>
}
else
{
    <a asp-action="EnableAuthenticator" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-default">Configure authenticator app</a>
    <a asp-action="ResetAuthenticatorWarning" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-default">Reset authenticator key</a>
}
@if (!Model.TwoFactorEmailEnabled)
{
    <a asp-action="EnableEmailAuthenticator" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-default">Add TwoFactorEmail</a>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
