﻿@using Lottery.Models.Models.DataStorageModels.Roles
@using Lottery.Models.Models.LotteryViewModels
@model Lottery.Models.Models.ManageViewModels.UserInfoViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(UserInfoNavPages.UserInfo);
    var isManager = false;
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
@Html.Partial("UserInfoNav",ViewData)
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Manage" asp-antiforgery="true" asp-action="UserInfo" data-ajax="true"  data-ajax-method="post" data-ajax-update="#update">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="form-group">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Email" class="form-control" />
                        <a asp-controller="Manage"  asp-action="SendVerificationEmail" class="btn btn-link"  data-ajax="true"  data-ajax-method="post" data-ajax-update="#update">Send verification email</a>
                    }
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default" >Save</button>
        </form>
        <div>
            <form asp-controller="Account" asp-action="ConfirmEmail" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                <button type="submit">Confirm</button>
            </form>
        </div>
        @if (ViewBag.IsAdmin != null && ViewBag.IsAdmin)
        {
            @Html.Partial("BlockUser", new BlockUserViewModel() {BlockReason = Model.BlockReason, LockoutEnd = Model.LockoutEnd, UserEmail = Model.Email})
            <div class="form-group">
                <div class="form-group">
                    <label>Roles</label>

                    <ul class="list-group">
                        @foreach (var role in Model.Roles)
                        {
                            <li class="list-group-item-info">@role.Name</li>
                            if (role.Name.Equals("Manager"))
                            {
                                isManager = true;
                            }
                        }
                    </ul>
                </div>
                @if (!isManager)
                {
                    <form asp-controller="Manage" asp-action="AddUserToRole" asp-route-userEmail="@Model.Email" asp-route-roleName="@Roles.Manager.ToString()" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
                        <button class="btn btn-warning">Add manager rights</button>
                    </form>
                }
                @if (isManager)
                {
                    <form asp-controller="Manage" asp-action="RemoveUserFromRole" asp-route-userEmail="@Model.Email" asp-route-roleName="Manager" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
                        <button class="btn btn-warning">Get back manager rights</button>
                    </form>
                }
            </div>
        }
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
   
}
