﻿@using Lottery.Models.Models.DataStorageModels.User
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="col-md-4">
    <div class="">
        <ul class="nav nav-pills nav-stacked">
            <li class="@UserInfoNavPages.UserInfoNavClass(ViewContext)"><a asp-action="UserInfo" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Profile</a></li>
            <li class="@UserInfoNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Password</a></li>
            <li class="@UserInfoNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Two Factor Authentication</a></li>
        </ul>
    </div>
</div>