﻿@model Lottery.Models.Models.LotteryViewModels.PaginatedList<Lottery.Models.Models.DataStorageModels.Prize.LotteryPrize>
    
<h1 class="warning"> @ViewBag.StatusMessage</h1>
<p>
    <a asp-antiforgery="true" asp-controller="Prize" asp-action="CreatePrize" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Create Prize</a>
</p>
<div>
    <form asp-action="AllPrizies" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <label class="label label-info"></label>
        <input id="size" name="size"  type="number" value="@Model.PageSize" />
        <input id="page" name="page" value="1" type="hidden"/>
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.GetPaginatedList()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-info" asp-action="UpdatePrize" asp-route-prizeId="@item.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Update Prize</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="DeletePrize" asp-route-prizeId="@item.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Delete prize</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="item">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="AllPrizies"
       asp-route-page="@(Model.PageNumber - 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="AllPrizies"
       asp-route-page="@(Model.PageNumber + 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>
<a asp-controller="Prize" asp-action="AllPrizies" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-link">Back</a>