﻿@model Lottery.Models.Models.PrizeViewModels.CreatePrizeViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <form asp-antiforgery="true" asp-controller="Prize" asp-action="UpdatePrize" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
        <input asp-for="Id" type="hidden"/>
        <label asp-for="Description" class="label label-default">Prize Description</label>
        <input asp-for="Description"/>
        <span asp-validation-for="Description" class="text-danger"></span>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>