﻿@using Lottery.Models.Models.DataStorageModels.Roles
@using Lottery.Models.Models.DataStorageModels.User
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lottery.Web</title>
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="css/Timer.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
       
    </environment>

</head>
<body>
    <div id="globalUpdate">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar">Hi</span>
                        <span class="icon-bar">HI</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Lottery" asp-action="MainPage" class="navbar-brand">Lottery</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Lottery" asp-action="MainPage">Home</a></li>
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Manager.ToString()))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Manage
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole(Roles.Admin.ToString()))
                                    {
                                        <li><a asp-area="" asp-controller="Manage" asp-action="AdminManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">ManageView</a></li>
                                    }
                                    @if (User.IsInRole(Roles.Manager.ToString()))
                                    {
                                        <li><a asp-area="" asp-controller="LotteryManage" asp-action="LotteryManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Lottery Manage</a></li>
                                        <li><a asp-area="" asp-controller="Question" asp-action="AllQuestion" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">All Questions</a></li>
                                        <li><a asp-area="" asp-controller="Prize" asp-action="AllPrizies" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">All prizies</a></li>
                                        <li><a asp-area="" asp-controller="Quiz" asp-action="AllQuizzes" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">All quizzes</a></li>
                                        <li><a asp-area="" asp-controller="Picture" asp-action="Index" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">All pictures</a></li>
                                        <li><a asp-area="" asp-controller="ExcelData" asp-action="Index" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Excel</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li><a asp-area="" asp-controller="Lottery" asp-action="AllResults" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Held lotteries</a></li>
                        }
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - Lottery.Web</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
            <script src="~/js/utils.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
