@using Lottery.Models.Models.DataStorageModels.User

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right" 
          data-ajax="true" data-ajax-method="post" data-ajax-update="#globalUpdate">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="UserInfo" title="Manage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register" method="get"
               data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" method="get"
               data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Log in</a></li>
    </ul>
}
