﻿@using Lottery.Models.Models.LotteryViewModels
@model Lottery.Models.Models.LotteryViewModels.LotteryFilters
    
<div>
    <div class="item">
        <form asp-controller="Lottery" asp-action="AllResults" method="get"
              data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div class="form-control">
                <label asp-for="LeftDate">After date</label>
                <input asp-for="LeftDate" type="datetime-local"/>
                <label asp-for="RightDate">Before Date</label>
                <input asp-for="RightDate"   type="datetime-local"/>
            </div>
            <div class="form-control">
                <label asp-for="AmountOfWinnersMin">Min Amount of Winners</label>
                <input type="number" asp-for="AmountOfWinnersMin" value="@Model.AmountOfWinnersMin"/>
                <label asp-for="AmountOfWinnersMax">Max amount of winners</label>
                <input type="number"asp-for="AmountOfWinnersMax" value="@Model.AmountOfWinnersMax"/>
            </div>
            <div>
                <input asp-for="Page" value="@Model.Page" type="hidden"/>
            </div>
            <div>
                <label asp-for="PageSize" class="label label-info"></label>
                <input asp-for="PageSize" />
            </div>
            <button type="submit">filter</button>
        </form>
    </div>
   
    <table class="table">
        <thead>
        <tr>
            <th>Lottery description</th>
            <th>Lottery Date</th>
            <th>Amount of winners</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PaginatedList.GetPaginatedList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotteryDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfWinners)
                </td>
                <td>
                    <a class="action-link" asp-controller="Lottery" asp-route-lotteryId="@item.Id" asp-action="LotteryResult"data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Results</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="item">
        @{
            var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
        }

        <form asp-action="AllResults" class="btn btn-default @prevDisabled" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div>
                <input asp-for="LeftDate" type="hidden" />
                <input asp-for="RightDate" type="hidden"/>
            </div>
            <div>
                <input type="hidden" asp-for="AmountOfWinnersMin" value="@Model.AmountOfWinnersMin" />
                <input type="hidden"asp-for="AmountOfWinnersMax" value="@Model.AmountOfWinnersMax"/>
            </div>
            <div>
                <input asp-for="Page" value="@(Model.Page-1)" type="hidden"/>
            </div>
            <div>
                <input asp-for="PageSize" type="hidden" />
            </div>
            <button type="submit">Previous</button>
        </form>

        <form asp-action="AllResults" class="btn btn-default @nextDisabled" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div>
                <input asp-for="LeftDate"  type="hidden" />
                <input asp-for="RightDate" va type="hidden" />
            </div>
            <div>
                <input type="hidden" asp-for="AmountOfWinnersMin" value="@Model.AmountOfWinnersMin" />
                <input type="hidden" asp-for="AmountOfWinnersMax" value="@Model.AmountOfWinnersMax" />
            </div>
            <div>
                <input asp-for="Page" value="@(Model.Page+1)" type="hidden" />
            </div>
            <div>
                <input asp-for="PageSize"  type="hidden"/>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
</div>