﻿@model Lottery.Models.Models.DataStorageModels.Lottery.LotteryEntity
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var time = @Model.LotteryDate.Subtract(DateTime.Now);
    var minutes = time.TotalMinutes;
}
<div class="item" id="refreshTimer">
    @if (time.TotalMinutes > 0 && time.TotalMinutes < 5)
    {
        <div class="container">
            <div id="timer">
                <label for="hour">Hours </label>
                <div id="hour">@Math.Floor(time.TotalHours)</div>
                <label for="minute">Minutes</label>
                <div id="minute">@time.Minutes</div>
                <label for="second">Seconds</label>
                <div id="second">@time.Seconds</div>
            </div>
        </div>
    }
</div>
@if (time.TotalMinutes > 0 && time.TotalMinutes < 5)
{
    <div>
        <img src="@Model.Picture?.Pass" class="img-circle"/>
    </div>
}
<script>
    //window.onload = refreshTimer();
    //window.onload = timer();
</script>