﻿@model Lottery.Models.Models.LotteryViewModels.LotteryListViewModel
@using System.Diagnostics
@using Lottery.Models.Models.DataStorageModels.Lottery
@using Lottery.Models.Models.DataStorageModels.Roles
@using Lottery.Models.Models.DataStorageModels.Types

<div class="container-fluid" id="update">
    <div id="trigger"></div>
    <div class="col-sm-4">
        @if (User.IsInRole(Roles.Manager.ToString()) || User.IsInRole(Roles.User.ToString()))
        {
            <div class="item">
                @Html.Partial("ClosestLottery", Model.ClosestLottery ?? new LotteryEntity())
            </div>
        }
        <div class="item" id="showWinners">
            <table class="table table-bordered" id="Table">
                <tr></tr>
            </table>
        </div>
        @if ((User.IsInRole(Roles.User.ToString()) || User.IsInRole(Roles.Manager.ToString())) && Model.LastHeldLottery?.LotteryDate.Subtract(DateTime.Now).TotalSeconds < Model.LastHeldLottery?.Delay)
        {
            <div class="item">
                <label class="label label-info"> Results of last held lottery </label>
                <a class="action-link" asp-controller="Lottery" asp-route-lotteryId="@Model.LastHeldLottery.Id" asp-action="LotteryResult" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Results</a>
            </div>
        }
        <div class="item">
            <form asp-controller="Lottery" asp-action="Index" method="get"
                  data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                <label for="size" class="label label-info">Page Size</label>
                <input id="size" name="size" type="number" value="@Model.PaginadeFutureLotteryList.PageSize" />
                <button type="submit">Update</button>
            </form>
        </div>
        <div class="item">
            <div class="item">
                <form asp-controller="Lottery" asp-action=""></form>
            </div>
            <h1 class="warning">@Model.StatusMessage</h1>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lottery</th>
                            <th>RegistrationEndDate</th>
                            <th>Lottery Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lottery in Model.PaginadeFutureLotteryList.GetPaginatedList())
                        {
                            <tr>
                                <td>
                                    @lottery.Description
                                </td>
                                <td>
                                    @lottery.RegistrationEndDate
                                </td>
                                <td>
                                    @lottery.LotteryDate
                                </td>
                                @if (User.IsInRole(Roles.User.ToString()) || User.IsInRole(Roles.Manager.ToString()) && lottery.LotteryType != LotteryType.Close)
                                {
                                    <td>
                                        <a asp-controller="Lottery" asp-action="AddParticapants" asp-route-lotteryId="@lottery.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update"> Take Part</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <div class="">
        @{
            var prevDisabled = !Model.PaginadeFutureLotteryList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.PaginadeFutureLotteryList.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-page="@(Model.PaginadeFutureLotteryList.PageNumber - 1)"
           asp-route-size="@Model.PaginadeFutureLotteryList.PageSize"
           class="btn btn-default @prevDisabled"
           method="get"
           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            Previous
        </a>

        <a asp-action="Index"
           asp-route-page="@(Model.PaginadeFutureLotteryList.PageNumber + 1)"
           asp-route-size="@Model.PaginadeFutureLotteryList.PageSize"
           class="btn btn-default @nextDisabled"
           method="get"
           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            Next
        </a>
    </div>

@if (User.IsInRole("Manager"))
{
    <div id="updateParticipants">
        @if (Model.ClosestLottery != null && Model.ClosestLottery.LotteryDate.Subtract(DateTime.Now).TotalMinutes < 5)
        {
            <div class="item">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Partisipants User Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var participants in Model.ClosestLotteryParticipants.GetPaginatedList())
                    {
                        <tr>
                            <td>
                                @participants.Participants.UserName
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
}