﻿@using Lottery.Models.Models.DataStorageModels.Roles
@model Lottery.Models.Models.LotteryViewModels.LotteryResultViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <table class="table-condensed">
        <thead>
        <tr>
            <th>Lottery description</th>
            <th>amount of winners</th>
            <th>amount of participants </th>
            <th>Winner</th>
            <th>Prize</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Model.Lottery.Description</td>
            <td>@Model.Lottery.AmountOfWinners</td>
            <td>@Model.LotteryParticipants.Count()</td>
            @if (Model.IsUserWinner)
            {
                <td class="success">You are winner, your place is: @Model.Place</td>
            }
            else
            {
                <td>Nope</td>
            }
            <td>@Model.Prize?.Description</td>
        </tr>
        </tbody>
    </table>
    @if (User.IsInRole(Roles.Manager.ToString()))
    {
        <table class="table-condensed">
            <thead>
            <tr>
                <th>UserName</th>
                <th>isWinner</th>
            </tr>
            </thead>
            <tbody>
         
                @for (int i = 0; i < Model.LotteryParticipants.Count(); i++)
                {
                    <tr>
                    <td>@Model.LotteryParticipants.ElementAt(i).Participants.UserName</td>
                   @if (Model.LotteryWinners.Any(x => x.ApplicationUser.Equals(Model.LotteryParticipants.ElementAt(i).Participants)))
                     {
                         <td> <label class="label label-success">winner</label></td>
                     }
                     else
                     {
                         <td>Nope</td>
                     }
                    </tr>
                }
         
            </tbody>
        </table>
    }
    <a class="btn btn-link center-block" asp-action="Index" method="get"data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>
</div>