﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (ViewBag.Success.Equals(true))
{
    <h1 class="success">Operration successfully</h1>
}
else
{
    <h1 class="danger">Operation failed</h1>
}