﻿@model Lottery.Models.Models.LotteryViewModels.PaginatedList<Lottery.Models.Models.DataStorageModels.Picture.Picture>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h2>@ViewBag.StatusMessage</h2>
<div>
<p id="test"></p>
    <div>
        <form asp-action="Index" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <label class="label label-info"></label>
            <input id="size" name="size" type="number" value="@Model.PageSize" />
            <input id="page" name="page" value="1" type="hidden" />
            <button type="submit"  class="btn btn-default">Update</button>
        </form>
        <progress id="progressBar" max="100" value="0" style="display: none"></progress>
        <p id="textIndicator" style="display: none; color: black"></p>
    </div>
    <div>
        <h3>Upload one or more files using this form:</h3>
        <form asp-controller="Picture" asp-action="AddPicture" method="post" enctype="multipart/form-data">
            <input type="file" id="files" name="files" multiple /><br>
            <button type="button" id="upload" value="Upload" onclick="Upload()">Upload</button>
        </form>
    </div>

    <div>
        <div class="row">
            @foreach (var picture in Model.GetPaginatedList())
            {
                <div class="col-md-6"><img src="@picture.Pass" height="300" width="500" class="list-group-item"/>
               <a class="btn btn-danger" asp-action="DeletePicture" asp-route-pictureId="@picture.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Delete</a></div>
            }
        </div>
    </div>
<div class="item">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-page="@(Model.PageNumber - 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="Index"
       asp-route-page="@(Model.PageNumber + 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>
</div>