﻿@using Lottery.Models.Models.Excel
@model Lottery.Models.Models.LotteryViewModels.PaginatedList<Lottery.Models.Models.DataStorageModels.Lottery.LotteryEntity>

<div>
    <h1>@ViewBag.StatusMessage</h1>
    <div>
        <form asp-controller="ExcelData" asp-action="Index" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <input id="page" name="page" value="@Model.PageNumber" type="hidden"/>
            <label for="size">Page size</label>
            <input id="size" name="size" value="@Model.PageSize"/>
            <button type="submit" class="btn btn-default">Update</button>
        </form>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data"> 
            <div class="row">
                <div class="col-md-12">
                    <input type="file" id="fUpload" name="files" multiple class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:10px;">
                    <input type="button" id="btnUpload" value="Upload" />
                </div>
            </div>
        </form>
    </div>
    <div>
        <form asp-action="ExportLotteries" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
            <div class="form-control">
                <label form="LeftDate">After date</label>
                <input id="LeftDate" name="LeftDate"type="datetime-local" value="@DateTime.MinValue.ToString("yyyy-MM-ddThh:mm")"/>
                <label for="RightDate" >Before Date</label>
                <input id="RightDate" name="RightDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
            </div>
            <div class="form-control">
                <label for="AmountOfWinnersMin">Min Amount of Winners</label>
                <input type="number"id="AmountOfWinnersMin" name="AmountOfWinnersMin" value="0"/>
                <label for="AmountOfWinnersMax">Max amount of winners</label>
                <input type="number" name="AmountOfWinnersMax" id="AmountOfWinnersMax" value="0"/>
            </div>
            <button type="submit" class="btn btn-default">Export</button>
        </form>
    </div>
   
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Lottery Date</th>
            <th>RegistrationEndDate</th>
            <th>AmountOfWinners</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var lottery in Model.GetPaginatedList())
        {
            <tr>
                <td>@lottery.Description</td>
                <td>@lottery.LotteryDate</td>
                <td>@lottery.RegistrationEndDate</td>
                <td>@lottery.AmountOfWinners</td>    
            </tr>
        }
        </tbody>
    </table>
       
    <div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-page="@(Model.PageNumber - 1)"
           asp-route-size="@Model.PageSize"
           class="btn btn-default @prevDisabled"
           method="get"
           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            Previous
        </a>

        <a asp-action="Index"
           asp-route-page="@(Model.PageNumber + 1)"
           asp-route-size="@Model.PageSize"
           class="btn btn-default @nextDisabled"
           method="get"
           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            Next
        </a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnUpload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fUpload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fUpload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/ExcelData/ImportLottery",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                   
                },
                error: function (e) {
                 
                }
            });
        })
    });
</script>