﻿  #timer {
      margin: 20px auto;
      text-align: center;
      color: #333;
      font-family: fantasy;
      font-size: 40px;
      cursor: default;
  }

  #timer div {
      display: inline;
  }