﻿@model Lottery.Models.Models.QuizViewModel.AddQuizToLotteryViewModel
<div>
    <table class="table-bordered">
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount of questions</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PaginatedQuizList.GetPaginatedList())
        {
            <tr>
                <td>@item.Description</td>
                <td>@item.QuizQuestions.Count</td>
                <td><a asp-controller="Quiz" asp-action="QuizInfo" asp-route-quizId="@item.Id" class="btn btn-info" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">More</a></td>
                <td><a asp-controller="Quiz" asp-action="AddQuizToLottery" class="btn btn-default" asp-route-quizId ="@item.Id" asp-route-lotteryId="@Model.LotteryId"  data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Set</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="item">
    @{
        var prevDisabled = !Model.PaginatedQuizList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PaginatedQuizList.HasNextPage ? "disabled" : "";
    }

    <a asp-action="AddQuizToLottery"
       asp-route-page="@(Model.PaginatedQuizList.PageNumber - 1)"
       asp-route-size="@Model.PaginatedQuizList.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="AddQuizToLottery"
       asp-route-page="@(Model.PaginatedQuizList.PageNumber + 1)"
       asp-route-size="@Model.PaginatedQuizList.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>
<a asp-controller="LotteryManage" asp-action="LotteryManage" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Back</a>