﻿@model Lottery.Models.Models.LotteryViewModels.PaginatedList<Lottery.Models.Models.DataStorageModels.LotteryQuiz.Quiz>
<div>
    <h1 class="label-info">@ViewBag.StatusMessage</h1>
</div>

<div>
    <form asp-action="AllQuizzes" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <label class="label label-info"></label>
        <input id="size" name="size" type="number" value="@Model.PageSize" />
        <input id="page" name="page" value="1" type="hidden" />
        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>
<div>
    <a asp-action="CreateQuiz" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Create Quiz</a>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount Of questions</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GetPaginatedList())
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.QuizQuestions.Count</td>
                    <th><a class="btn btn-default" asp-action="UpdateQuiz" asp-route-quizId ="@item.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Update</a></th>
                    <th><a class="btn btn-warning" asp-action="DeleteQuiz"  asp-route-quizId ="@item.Id" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Delete</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="item">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="AllQuizzes"
       asp-route-page="@(Model.PageNumber - 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @prevDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Previous
    </a>

    <a asp-action="AllQuizzes"
       asp-route-page="@(Model.PageNumber + 1)"
       asp-route-size="@Model.PageSize"
       class="btn btn-default @nextDisabled"
       method="get"
       data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        Next
    </a>
</div>
<a asp-controller="Quiz" asp-action="AllQuizzes" data-ajax="true" data-ajax-method="get" data-ajax-update="#update" class="btn btn-link">Back</a>