﻿@using Lottery.Models.Models.QuizViewModel
@model Lottery.Models.Models.QuizViewModel.CreateQuizViewModel
<div class="container">
    <div>
        <form asp-controller="Quiz" asp-action="CreateQuizForLottery" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            <div>
                <label class="label label-info">Amount og questions</label>
                <input id="amountOfQuestion" name="amountOfQuestion" type="number" />
            </div>
            <div>
                <input asp-for="@Model.LotteryId" type="hidden" />
                <span asp-validation-for="@Model.LotteryId" class="text-danger"></span>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
    <form asp-controller="Quiz" asp-action="CreateQuizForLottery" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <div>
            <select id="SelectedQuizId" name="SelectedQuizId" class="input-group">
                @for(int i=0;i<Model.AllQuizes.Count();i++)
                {
                    if (@Model.AllQuizes.Any() && Model.AllQuizes.ElementAt(i).Quiz.Equals(Model.CurrentQuiz))
                    {
                        <option selected value="@Model.AllQuizes.ElementAt(i).Id">@Model.AllQuizes.ElementAt(i).Lottery.Description</option>
                    }
                    else
                    {
                        <option  value="@Model.AllQuizes.ElementAt(i).Id">@Model.AllQuizes.ElementAt(i).Lottery.Description</option>
                    }
                }
            </select>
        </div>
        <button type="submit">Save</button>
    </form>
    <form asp-controller="Quiz" asp-action="CreateQuizForLottery" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
        <div class="form-group">
            <input asp-for="@Model.LotteryId" class="form-control" type="hidden"/>
            <span asp-validation-for="@Model.LotteryId" class="text-danger"></span>
        </div>
        <div class="form-control">
            <input asp-for="Description"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <ul class="list-group">
            @for (var i = 0; i < Model.AmountOfQuestions; i++)
            {
                <li class="list-group-item">
                    <label class="label label-info"></label>
                    <select id="SelectedQuestion" name="SelectedQuestion" class="input-group">
                        @foreach (var question in Model.AllQuestions)
                        {
                            if (Model.CurrentQuiz != null && question.Id.Equals(Model.SelectedQuestion.ElementAt(i)))
                            {
                                <option selected value="@question.Id">@question.Text</option>
                            }
                            else
                            {
                                <option value="@question.Id">@question.Text</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="SelectedQuestion" class="text-danger"></span>
                </li>
            }

        </ul>
        <button type="submit">Save</button>
    </form>
</div>