﻿@model Lottery.Models.Models.QuizViewModel.QuizInfoViewModel
<div>
    <table>
        <thead>
        <tr>
            <th>Desription</th>
            <th>Amount of questions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Model.Description
            </td>
            <td>
                @Model.Questions.Count
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h3>Questions</h3>
    <ul>
        @foreach (var item in Model.Questions)
        {
            <li>@item.Text</li>
        }
    </ul>
</div>
<div>
    <h3>Lotteries </h3>
    <ul>
        @foreach (var item in Model.Lotteries)
        {
            <li>@item.Description</li>
        }
    </ul>
</div>