﻿@using Lottery.Models.Models.DataStorageModels.LotteryQuiz
@using Lottery.Models.Models.LotteryViewModels
@model Lottery.Models.Models.LotteryViewModels.QuizViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-controller="Quiz" asp-action="QuizForLottery" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
    <div class="form-group">
        <input asp-for="@Model.LotteryId" class="form-control" />
        <span asp-validation-for="@Model.LotteryId" class="text-danger"></span>
    </div>
    <input asp-for="@Model.QuizId" value="@Model.Quiz.Id" type="hidden" class="form-control"/>
    <span asp-validation-for="@Model.QuizId" class="text-danger"></span>
    <div class="container">
        <ul class="list-group">
            @for (var i = 0; i < Model.QuizQuestionses.Count(); i++)
            {
                if (Model.QuizQuestionses.ElementAt(i).Type.Equals(QuestionType.Close))
                 {
                     <li class="item">
                         <label class="label label-info">@Model.QuizQuestionses.ElementAt(i).Text</label>
                         <input asp-for="QuizQuestionsesId" value="@Model.QuizQuestionses.ElementAt(i).Id" type="hidden" class="form-control"/>
                         <select id="Answers" name="Answers" asp-items="@(new SelectList(Model.AnswersToQuestion.ElementAt(i), "Id", "Text"))" required title="@Model.QuizQuestionses.ElementAt(i).Text" class="form-control">
                         </select>
                     </li>
                 }
                else
                {
                    <li class="item">
                        <label class="label label-info">@Model.QuizQuestionses.ElementAt(i).Text</label>
                        <input asp-for="QuizQuestionsesId" value="@Model.QuizQuestionses.ElementAt(i).Id" type="hidden" class="form-control"/>
                        <input type="text" asp-for="CustomAnswers"  required class="form-control"/>
                    </li>
                }
            }
        </ul>
    </div>
    <button type="submit">Send</button>
</form>