﻿@using Lottery.Models.Models.QuizViewModel
@model Lottery.Models.Models.QuizViewModel.CreateQuizViewModel
<div>
    <form asp-controller="Quiz" asp-action="UpdateQuiz" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
        <div>
            <label class="label label-info">Amount og questions</label>
            <input id="amountOfQuestions" name="amountOfQuestions" type="number" value="@Model.AmountOfQuestions" />
            <input id="quizId" name="quizId" value="@Model.Id" type="hidden"/>
        </div>
        <button type="submit">Update</button>
    </form>
</div>
<form asp-controller="Quiz" asp-action="UpdateQuiz" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
<div class="form-control">
    <input asp-for="Description"/>
    <span asp-validation-for="Description" class="text-danger"></span>
    <input asp-for="Id" type="hidden"/>
</div>
<ul class="list-group">
    @for (var i = 0; i < Model.AmountOfQuestions; i++)
    {
        <li class="list-group-item">
            <label class="label label-info"></label>
            <select id="SelectedQuestion" name="SelectedQuestion" class="input-group">
                @foreach (var question in Model.AllQuestions)
                {
                    if ( Model.SelectedQuestion.Count()-1>=i && question.Id.Equals(Model.SelectedQuestion.ElementAt(i)))
                    {
                        <option selected value="@question.Id">@question.Text</option>
                    }
                    else
                    {
                        <option value="@question.Id">@question.Text</option>
                    }
                }
            </select>
            <span asp-validation-for="SelectedQuestion" class="text-danger"></span>
        </li>
    }

</ul>
<button type="submit">Save</button>
</form>